<div class="content">
  <div class="content">
    <div class="container-fluid" id="dashboard">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 pull-left">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">TruckCR001</h4>
                </div>
              </div>
              <div class="card-body ">
                <canvas id="pieChart"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-4 pull-left">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">TruckCR002</h4>
                </div>
              </div>
              <div class="card-body ">
                <canvas id="pieChart2"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-4 pull-left">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">TruckCR003</h4>
                </div>
              </div>
              <div class="card-body ">
                <canvas id="pieChart3"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 pull-left">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">TruckCR004</h4>
                </div>
              </div>
              <div class="card-body ">
                <canvas id="pieChart4"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-4 pull-left">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">TruckCR005</h4>
                </div>
              </div>
              <div class="card-body ">
                <canvas id="pieChart5"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-4 pull-left">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">TruckCR006</h4>
                </div>
              </div>
              <div class="card-body ">
                <canvas id="pieChart6"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

