<div class="content">
  <div class="content">
    <div class="container-fluid">
      <div class="card-body pull-right p-1">
        <button class="btn btn-success btn-sm"><i class="fa fa-plus-square-o" aria-hidden="true"></i>New</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>Back</button>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-text">
                <h4 class="card-title">All Trucks</h4>
              </div>
              <h4 class="card-title"></h4>
            </div>
            <div class="card-body">
              <ag-grid-angular style="width:100%; height: auto"
                               class="ag-theme-balham"
                               [rowData]="rowData"
                               [columnDefs]="columnDefs"></ag-grid-angular>


             
            </div>
          </div>
        </div>


      </div>
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                <h4 class="card-title">Create Truck</h4>
              </div>
            </div>
            <div class="card-body ">
              <form method="get" class="form-horizontal">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Vehicle Type</label>
                      <div class="col-sm-8 form-group mt-0 selectBox">
                        <div class="dropdown">
                          <div class="form-group">
                            <div class="form-control">
                              <select class="selectpicker" data-style="select-with-transition" title="" data-size="7">
                                <option> Select</option>
                                <option value="2">Truck </option>
                                <option value="3">Van</option>
                                <option value="4">Mini Truck</option>

                              </select>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Vehicle Owner Name</label>
                      <div class="col-sm-8">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Capacity in Weight</label>
                      <div class="col-sm-8">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Vehicle Name</label>
                      <div class="col-sm-8">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Vehicle Possessed By</label>

                      <div class="col-sm-8 form-group mt-0 selectBox">

                        <div class="dropdown">
                          <div class="form-group">
                            <div class="form-control">
                              <select class="selectpicker" data-style="select-with-transition" title="" data-size="7">
                                <option> Select</option>
                                <option value="2">Owned</option>
                                <option value="3">Third Party</option>

                              </select>
                            </div>
                          </div>
                        </div>
                       
                      </div>

                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Registration No.</label>
                      <div class="col-sm-8">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Capacity in Volume</label>
                      <div class="col-sm-8">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
