<!--<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->

<div class='wrapper' *ngIf='(this.router1.url !== "/login")'>
  <app-nav-menu></app-nav-menu>
  <div class='main-panel'>   
      <app-header></app-header>
      <router-outlet></router-outlet>
  
      <app-footer></app-footer>
    </div>
  </div>
<router-outlet *ngIf='this.router1.url === "/login"'></router-outlet>
