
<div class="container loginmain  main">
  <section class="content w3-container w3-center w3-animate-zoom" style="margin-top: 14%;" id="login">
    <form action="">
      <h1><img src="../../assets/img/logo.png" style="margin-top: -7%;" /></h1>

      <div>
        <input type="text" placeholder="Username" required="" id="username" />
      </div>
      <div>
        <input type="password" placeholder="Password" required="" id="password" />
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="col-md-6 col-xs-12 col-sm-12">

          <input type="submit" value="Log in" />
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12">

          <h6 class="btn1" style="cursor: pointer; margin-top: 20%; margin-left: 19px; font-size: 13px;">Forgot Password?</h6>
        </div>

      </div>
    </form>

    
  </section>


  <section class="content w3-container w3-center w3-animate-zoom" style="margin-top: 14%; display:none;" id="forgot">
    <form action="">

      <h1><img src="../images/logo.png" style="margin-top: -7%;" /></h1>

      <div>
        <input type="text" placeholder="E-mail" required="" id="Text1" />
      </div>

      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="col-md-6 col-xs-10 col-sm-12">


          <input type="submit" value="Log in" />
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
          <h6 class="btn2" style="cursor: pointer;margin-top: 21%;margin-left: 77px;font-size: 13px;">Login</h6>

        </div>






      </div>
    </form>

    <div class="button">

    </div>
  </section>

  <script>

    $(document).on(function () {
      alert("working");
      $(".btn1").click(function () {

        $("#login").css('display', 'none');
        $("#forgot").css('display', 'block');

      });
      $(".btn2").click(function () {
        $("#login").css('display', 'block');
        $("#forgot").css('display', 'none');

      });
    });
  </script>


</div>

