<div class="content">
  <div class="container-fluid">
   
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-text">
              <h4 class="card-title">Role-Assignment</h4>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">
            <kendo-treeview [nodes]="data"
                            textField="text"
                            kendoTreeViewExpandable
                            kendoTreeViewSelectable
                            kendoTreeViewHierarchyBinding
                            childrenField="items">
            </kendo-treeview>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



