<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>NeproFinishedGoodsAngular5</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/counter"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
<div class="sidebar" data-color="rose" data-background-color="black" data-image="img/sidebar-1.jpg">

  <div class="logo" style="text-align: center;">

    <a href="#" class="simple-text logo-normal">
      <img src="../../assets/img/nepro-logo.png" />
    </a>

  </div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">

          <span class="userName">
            John Doe
            <b class="caret"></b>
          </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini">
                  <img src="../../assets/img/profile_icon.png" />
                </span>
                <span class="sidebar-normal"> My Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini">
                  <img src="../../assets/img/edit_icon.png" />
                </span>
                <span class="sidebar-normal"> Edit Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini">
                  <img src="../../assets/img/setting_icon.png" />
                </span>
                <span class="sidebar-normal"> Settings </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item active ">
        <a class="nav-link" href="dashboard.html">
          <i class="material-icons">
            <img src="../../assets/img/dashboard_icon.png" />
          </i>
          <p> Dashboard </p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
          <i class="material-icons">
            <img src="../../assets/img/setup_icon.png" />
          </i>
          <p>
            Setup
            <b class="caret"></b>
          </p>
        </a>

        <div class="collapse" id="pagesExamples">
          <ul class="nav">
            <!--<li class="nav-item ">
                <a class="nav-link" href="pages/pricing.html">
                    <i class="sidebar-mini"> <img src="img/aisle_icon.png" /> </i>
                    <p class="sidebar-normal"> Aisle </p>

                </a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="sidebar-mini"> <img src="../../assets/img/aisle_icon.png" /> </i>
                <p class="sidebar-normal"> Aisle </p>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="pages/rtl.html">
                <i class="sidebar-mini"> <img src="../../assets/img/rack_icon.png" /> </i>
                <p class="sidebar-normal"> Rack </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="pages/timeline.html">
                <i class="sidebar-mini"> <img src="../../assets/img/bin_icon.png" /> </i>
                <p class="sidebar-normal"> Bin </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="pages/login.html">
                <i class="sidebar-mini"> <img src="../../assets/img/truck_icon.png" /> </i>
                <p class="sidebar-normal"> Vehicle Type </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="pages/register.html">
                <i class="sidebar-mini"> <img src="../../assets/img/truck_icon.png" /> </i>
                <p class="sidebar-normal"> Truck Type </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="pages/lock.html">
                <i class="sidebar-mini"> <img src="../../assets/img/truckDriver_icon.png" /> </i>
                <p class="sidebar-normal"> Truck Driver </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="pages/user.html">
                <i class="sidebar-mini"> <img src="../../assets/img/truck_icon.png" /> </i>
                <p class="sidebar-normal"> Truck </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="pages/error.html">
                <i class="sidebar-mini">
                  <img src="../../assets/img/stillage_icon.png" />
                </i>
                <p> Stillage </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="pages/error.html">
                <i class="sidebar-mini"> <img src="../../assets/img/sticker_icon.png" /> </i>
                <p class="sidebar-normal"> Sticker </p>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link">
          <i class="material-icons"> <img src="../../assets/img/user_icon.png" /></i>
          <p> User</p>
        </a>

      </li>
      <li class="nav-item ">
        <a class="nav-link">
          <i class="material-icons"> <img src="../../assets/img/role_icon.png" /></i>
          <p> Role</p>
        </a>

      </li>
      <li class="nav-item ">
        <a class="nav-link">
          <i class="material-icons"> <img src="../../assets/img/roleAssignment_icon.png" /></i>
          <p> Role Assignment </p>
        </a>

      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
          <i class="sidebar-mini"> <img src="../../assets/img/truck_icon.png" /> </i>

          <p>
            Pick To Load Process
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="mapsExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" href="maps/google.html">
                <i class="sidebar-mini"> <img src="../../assets/img/pickList_icon.png" /> </i>
                <p class="sidebar-normal"> Picking List </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="maps/fullscreen.html">
                <i class="sidebar-mini"> <img src="../../assets/img/location_icon.png" /> </i>
                <p class="sidebar-normal"> Picking Location </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="maps/vector.html">
                <i class="sidebar-mini"> <img src="../../assets/img/pickList_icon.png" /> </i>
                <p class="sidebar-normal"> Picked List </p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="maps/vector.html">
                <i class="sidebar-mini"> <img src="../../assets/img/truck_icon.png" /> </i>
                <p class="sidebar-normal"> Assign Truck </p>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="widgets.html">
          <i class="sidebar-mini">
            <img src="../../assets/img/warehouse_icon.png" />
          </i>
          <p> Line To FG Warehouse </p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="charts.html">
          <i class="sidebar-mini">
            <img src="../../assets/img/stillage_icon.png" />
          </i>
          <p> Stillage To Stillage </p>
        </a>
      </li>

    </ul>
  </div>
</div>
