<div class="content">
  <div class="container-fluid">
    <div class="card-body pull-right p-1">
      <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal1"><i class="fa fa-plus-square-o" aria-hidden="true" ></i>New</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>Back</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-text">
              <h4 class="card-title">All Roles</h4>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">
            <ag-grid-angular style="width:100%; height: auto"
                             class="ag-theme-balham"
                             [rowData]="rowData"
                             [columnDefs]="columnDefs"></ag-grid-angular>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





<div class="content">
  <div class="container-fluid">
    
    <div class="clearfix"></div>
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-text">
              <h4 class="card-title">Select Rights For The Role</h4>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="col-md-9 pull-right mb-3">
            <div class="innerDivinstructions pull-right">
              <i class="Iconinstructions fa fa-square  " aria-hidden="true" style="color:blue;"></i><span class="IconsinstructionsSpan">
                only view
              </span>
            </div>
            <div class="innerDivinstructions pull-right mr-2">
              <i class="IconinstructionSquare fa fa-square  " aria-hidden="true" style="color:red;"></i><span class="instructionSpanAllRights">
                All rights
              </span>
            </div>
            <div>
            </div>
          </div>
          <div class="row">


            <div class="col-md-9 pl-0" style="border-right: 1px solid #09a777;">

              <div class="col-md-12 ">
                <div class="col-md-12 menu-icons ">
                  <div class="row">
                    <ul class="col-md-12 iconinline">


                      <li class="col-sm-3  col-md-2 col-xs-5" style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/dashboard-role.png" /></i>
                        <h6 class="mt-2">
                          Dashboard
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>

                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon" aria-hidden="true"><img src="../../assets/img/aisle-role.png" /></i>
                        <h6 class="mt-2">
                          Aisle
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/rack-role.png" /></i>
                        <h6 class="mt-2">
                          Rack
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>

                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/aisle-role.png" /></i>
                        <h6 class="mt-2">
                          Bin
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/truck-role.png" /></i>
                        <h6 class="mt-2">
                          Vehicle Type
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                     

                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/truck-driver-role.png" /></i>
                        <h6 class="mt-2">
                          Truck Driver
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>




                    </ul>
                  </div>
                </div>
                <div class="col-md-12 menu-icons ">
                  <div class="row">
                    <ul class="col-md-12 iconinline ">

                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/truck-role.png" /></i>
                        <h6 class="mt-2">
                          Truck
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/stillage-role.png" /></i>
                        <h6 class="mt-2">
                          Stillage
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/sticker-role.png" /></i>
                        <h6 class="mt-2">
                          Sticker
                        </h6>
                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/picking-role.png" /></i>
                        <h6 class="mt-2">
                          Picking list
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>



                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/picking-role.png" /></i>
                        <h6 class="mt-2">
                          Picked list
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/truck-role.png" /></i>
                        <h6 class="mt-2">
                          Assign Truck
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>

                <div class="col-md-12 menu-icons ">
                  <div class="row">
                    <ul class="col-md-12 iconinline ">



                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/location-role.png" /></i>
                        <h6 class="mt-2">
                          Picking location
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/linetoFG-role.png" /></i>
                        <h6 class="mt-2">
                          Line To FG Warehouse
                        </h6>

                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                      <li class="col-sm-3  col-md-2 col-xs-5 " style="list-style: none;">
                        <i class="icons roleIcon"
                           aria-hidden="true"><img src="../../assets/img/stillage-role.png" /></i>
                        <h6 class="mt-2">
                          Stillage To Stillage
                        </h6>
                        <div class="rights-icon">
                          <i class="img-responsive mr-2 roleassigniconsfile" title="View"
                             aria-hidden="true">
                            <img src="../../assets/img/view-icon.png" />
                          </i><i title="Delete" class="img-responsive mr-2 roleassigniconsfile"
                                 aria-hidden="true"><img src="../../assets/img/edit-delete-icon.png" /></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-success btn-sm pull-right mb-4"><i class="" aria-hidden="true"></i>Proceed</button>
              </div>
            </div>

            <div class="col-md-3">
              <kendo-treeview [nodes]="data"
                              textField="text"
                              kendoTreeViewExpandable
                              kendoTreeViewSelectable
                              kendoTreeViewHierarchyBinding
                              childrenField="items">
              </kendo-treeview>


            </div>


          </div>
        </div>
      </div>




    </div>
  </div>
</div>



<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="cross">&times;</span></button>
        <h4 class="modal-title modalHead">Create Role</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <label class="col-sm-3 col-form-label">Role Name</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>




          


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
