<div class="content">
  <div class="content">
    <div class="container-fluid">
      <div class="card-body pull-right p-1">
        <button class="btn btn-success btn-sm"><i class="fa fa-plus-square-o" aria-hidden="true"></i>New</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>Back</button>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-text">
                <h4 class="card-title">All Racks</h4>
              </div>
              <h4 class="card-title"></h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">

                <ag-grid-angular style="width:100%; height: auto"
                                 class="ag-theme-balham"
                                 [rowData]="rowData"
                                 [columnDefs]="columnDefs"></ag-grid-angular>
                <!--<table class="table table-striped">
    <thead style="background-color: #eceaea;">
      <tr>
        <th>All</th>
        <th>Site</th>
        <th>WareHouse</th>
        <th>Location</th>
        <th>Row Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" checked>
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </td>
        <td>Jaipur</td>
        <td>WareHouse1</td>
        <td>Location1</td>
        <td>Row 1</td>
      </tr>
      <tr>

        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" checked>
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </td>
        <td>Noida</td>
        <td>WareHouse2</td>
        <td>Location2</td>
        <td>Row 2</td>
      </tr>
      <tr>

        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" checked>
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </td>
        <td>Ghaziabad</td>
        <td>WareHouse3</td>
        <td>Location3</td>
        <td>Row 3</td>
      </tr>
      <tr>

        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </td>
        <td>Kanpur</td>
        <td>WareHouse3</td>
        <td>Location3</td>
        <td>Row 4</td>
      </tr>
      <tr>

        <td>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </td>
        <td>Agra</td>
        <td>WareHouse4</td>
        <td>Location4</td>
        <td>Row 5</td>
      </tr>
      <tr></tr>
    </tbody>
  </table>-->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                <h4 class="card-title">Create Rack</h4>
              </div>
            </div>
            <div class="card-body ">
              <form method="get" class="form-horizontal">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Site</label>
                      <div class="col-lg-9 col-md-9 col-sm-12 form-group mt-0 selectBox">
                        <div class="dropdown">
                          <div class="form-group">
                            <div class="form-control">
                              <select class="selectpicker" data-style="select-with-transition" title="" data-size="7">
                                <option> Select</option>
                                <option value="2">Noida</option>
                                <option value="3">Delhi</option>
                                <option value="4">Agra</option>

                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Aisle</label>
                      <div class="col-lg-9 col-md-9 col-sm-12 form-group mt-0 selectBox">
                        <div class="dropdown">
                          <div class="form-group">
                            <div class="form-control">
                              <select class="selectpicker" data-style="select-with-transition" title="" data-size="7">
                                <option> Select</option>
                                <option value="2">Aisle 1</option>
                                <option value="3">Aisle 2</option>
                                <option value="4">Aisle 3</option>

                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-sm-2 col-form-label">WareHouse</label>

                      <div class="col-lg-9 col-md-9 col-sm-12 form-group mt-0 selectBox">
                        <div class="dropdown">
                          <div class="form-group">
                            <div class="form-control">
                              <select class="selectpicker" data-style="select-with-transition" title="" data-size="7">
                                <option> Select</option>
                                <option value="2">WareHouse 1</option>
                                <option value="3">WareHouse 2</option>
                                <option value="4">WareHouse 3</option>

                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <label class="col-sm-2 col-form-label">Rack Name</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
