<div class="content">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                <h4 class="card-title">Create Aisle</h4>
              </div>
            </div>
            <div class="card-body ">
              <form method="get" class="form-horizontal">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">

                      <label class="col-sm-2 col-form-label">Site</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control">
                          <span class="bmd-help">A block of help text that breaks onto a new line.</span>
                        </div>
                      </div>
                    </div>
                     <div class="row">
                      <label class="col-sm-2 col-form-label">Location</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Location">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-sm-2 col-form-label">WareHouse</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="password" class="form-control">
                        </div>
                      </div>
                    </div>
                   
                    <!--<div class="row">
    <label class="col-sm-2 col-form-label">Disabled</label>
    <div class="col-sm-9">
      <div class="form-group">
        <input type="text" class="form-control" value="Disabled input here.." disabled>
      </div>
    </div>
  </div>-->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
