<div class="content">
  <div class="content">
    <div class="container-fluid">
      <div class="card-body pull-right p-1">
        <button class="btn btn-success btn-sm"><i class="fa fa-plus-square-o" aria-hidden="true"></i>New</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
        <button class="btn btn-success btn-sm" (click)="aisleSubmit()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
        <button class="btn btn-success btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>Back</button>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-text">
                <h4 class="card-title">All Aisles</h4>
              </div>
              <h4 class="card-title"></h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">

                <ag-grid-angular style="width:100%; height: auto"
                                 class="ag-theme-balham"
                                 [rowData]="rowData"
                                 [columnDefs]="columnDefs"></ag-grid-angular>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                <h4 class="card-title">Create Aisle</h4>
              </div>
            </div>
            <div class="card-body ">
              <form class="form-horizontal" [formGroup]="aisleForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Site</label>
                      <div class="col-lg-9 col-md-9 col-sm-12 form-group mt-0 selectBox">
                        <div class="dropdown">
                          <div class="form-group">
                            <div class="">
                              <select class="selectpicker form-control" placeholder="Select Site" data-size="7" formControlName="site" [ngClass]="{'is-invalid': submitted && f.site.errors}">
                                <option>Select</option>
                                <option>Noida</option>
                                <option>Delhi</option>
                                <option>Agra</option>
                              </select>
                              <div *ngIf="submitted && f.site.errors" class="invalid-feedback">
                                <div *ngIf="f.site.errors.required"> Site is required</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Aisle Name</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="aislename" placeholder="" [ngClass]="{'is-invalid': submitted && f.aislename.errors}">
                          <div *ngIf="submitted && f.aislename.errors" class="invalid-feedback">
                            <div *ngIf="f.aislename.errors.required"> Aisle Name is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-sm-2 col-form-label">WareHouse</label>

                      <div class="col-lg-9 col-md-9 col-sm-12 form-group mt-0 selectBox">
                        <!--<div class="dropdown">
                          <div class="form-group">

                            <select class="form-control" id="sel1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>

                          </div>
                        </div>-->
                        <div class="dropdown">
                          <div class="form-group">
                            <div class="">
                              <select class="selectpicker form-control" data-style="select-with-transition" title="" data-size="7" formControlName="warehouse" [ngClass]="{'is-invalid': submitted && f.warehouse.errors}">
                                <option> Select</option>
                                <option value="2">WareHouse 1 </option>
                                <option value="3">WareHouse 2</option>
                                <option value="4">WareHouse 3</option>
                              </select>
                              <div *ngIf="submitted && f.warehouse.errors" class="invalid-feedback">
                                <div *ngIf="f.warehouse.errors.required"> Warehouse  is required</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <!--<button type="submit">Submit</button>-->
                    <!--<div class="row">
                      <label class="col-sm-2 col-form-label">Disabled</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input type="text" class="form-control" value="Disabled input here.." disabled>
                        </div>
                      </div>
                    </div>-->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
