<div class="content">
  <div class="container-fluid">
    <div class="card-body pull-right p-1">
      <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-print" aria-hidden="true"></i>Print</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-plus-square-o" aria-hidden="true"></i>New</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>Back</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-text">
              <h4 class="card-title">All Stickers</h4>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead style="background-color: #eceaea;">
                  <tr>
                    <th>All</th>
                    <th>Sticker Code</th>
                    <th>Sticker For</th>
                    <th>Stillage / Truck</th>
                    <th>Created By</th>
                    <th>Created On</th>
                    <th>Printed By</th>
                    <th>Printed On</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>

                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>SC0001</td>
                    <td>UP-14-BZ-5846</td>
                    <td>SC0001</td>
                    <td>Rahul</td>
                    <td>8459267584</td>
                    <td>abc@gmail.com</td>
                    <td>E-210, Second Floor</td>
                  </tr>
                  <tr>

                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>SC0002</td>
                    <td>UP-14-BZ-5846</td>
                    <td>SC0001</td>
                    <td>Rahul</td>
                    <td>8459267584</td>
                    <td>abc@gmail.com</td>
                    <td>E-210, Second Floor</td>
                  </tr>
                  <tr>

                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>SC0003</td>
                    <td>UP-14-BZ-5846</td>
                    <td>SC0001</td>
                    <td>Rahul</td>
                    <td>8459267584</td>
                    <td>abc@gmail.com</td>
                    <td>E-210, Second Floor</td>
                  </tr>
                  <tr>

                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>SC0004</td>
                    <td>UP-14-BZ-5846</td>
                    <td>SC0001</td>
                    <td>Rahul</td>
                    <td>8459267584</td>
                    <td>abc@gmail.com</td>
                    <td>E-210, Second Floor</td>
                  </tr>
                  <tr>

                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>

                        </label>
                      </div>
                    </td>
                    <td>SC0005</td>
                    <td>UP-14-BZ-5846</td>
                    <td>SC0001</td>
                    <td>Rahul</td>
                    <td>8459267584</td>
                    <td>abc@gmail.com</td>
                    <td>E-210, Second Floor</td>
                  </tr>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="content">
    <div class="content">
      <div class="container-fluid">

        <div class="clearfix"></div>
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                  <h4 class="card-title">Create Sticker</h4>
                </div>
              </div>
              <div class="card-body ">
                <form method="get" class="form-horizontal">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <label class="col-sm-3 col-form-label">Sticker Code</label>
                        <div class="col-sm-8">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="">
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="col-md-6">
                      <div class="row">
                        <label class="col-sm-3 col-form-label">Truck</label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                          <select class="selectpicker" data-style="select-with-transition" title="" data-size="7">
                            <option disabled> Select</option>
                            <option value="2">1 </option>
                            <option value="3">2</option>
                            <option value="4">3</option>

                          </select>
                        </div>
                      </div>



                    </div>


                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <ag-grid-angular style="width:100%; height: auto"
                         class="ag-theme-balham"
                         [rowData]="rowData"
                         [columnDefs]="columnDefs"></ag-grid-angular>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
