<div class="content">
  <div class="container-fluid">
    <div class="card-body pull-right p-1">
      <button class="btn btn-success btn-sm"><i class="fa fa-plus-square-o" aria-hidden="true"></i>New</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
      <button class="btn btn-success btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>Back</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-text">
              <h4 class="card-title" data-toggle="modal" data-target="#cnfrmList">All Picking Lists</h4>
            </div>
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">
            <ag-grid-angular style="width:100%; height: auto"
                             class="ag-theme-balham"
                             [rowData]="rowData"
                             [columnDefs]="columnDefs"></ag-grid-angular>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="content">
  <div class="content">
    <div class="container-fluid">

      <div class="clearfix"></div>
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                <h4 class="card-title">Create Picking List</h4>
              </div>
            </div>
            <div class="card-body ">
              <form method="get" class="form-horizontal">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Customer Name</label>
                      <div class="col-lg-8 col-md-9 col-sm-12 form-group mt-0 selectBox">
                        <div class="dropdown">
                          <div class="form-group">
                            <div class="form-control">
                              <select class="selectpicker" data-style="select-with-transition" title="" data-size="7">
                                <option> Select</option>
                                <option value="2">Amar Singh </option>
                                <option value="3">Fateh</option>
                                <option value="4">Raj</option>

                              </select>
                            </div>
                          </div>
                        </div>

                    
                      </div>
                    </div>



                  </div>



                  


                </div>
              </form>
              <div class="row mt-4">
                <div class="col-md-6 p-0">
                  <h5 style="color: #09a777;">Sales Order 1</h5>
                </div>
                <div class="col-md-6">



                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <div class="">

                    <div class="" style="border: 1px solid #09a777;">
                      <ag-grid-angular style="width:100%; height: auto"
                                       class="ag-theme-balham"
                                       [rowData]="salesorder1rowData"
                                       [columnDefs]="salesorder1columnDefs"></ag-grid-angular>
                      
                    </div>
                  </div>
                </div>

              </div>

              <div class="row mt-4">
                <div class="col-md-6 p-0">
                  <h5 style="color: #09a777;">Sales Order 2</h5>
                </div>
                <div class="col-md-6">



                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="">

                    <div class="" style="border: 1px solid #09a777;">
                      <ag-grid-angular style="width:100%; height: auto"
                                       class="ag-theme-balham"
                                       [rowData]="salesorder2rowData"
                                       [columnDefs]="salesorder2columnDefs"></ag-grid-angular>
                      
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cnfrmList" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="cross">&times;</span></button>
        <h4 class="modal-title modalHead">Confirm Picking List</h4>
      </div>
      <div class="modal-body">
        <ag-grid-angular style="width:100%; height: auto"
                         class="ag-theme-balham"
                         [rowData]="PickListrowData"
                         [columnDefs]="PickListcolumnDefs"></ag-grid-angular>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" >Confirm</button>
      </div>
    </div>

  </div>
</div>





