<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }


  </style>

</head>
<body>
  <div class="container-fluid">
    <div class="col-md-12 col-sm-12 col-12">
      <table>
        <tr>
          <th>All</th>
          <th>site</th>
          <th>WareHouse</th>
          <th>Location</th>
          <th>Row Name</th>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Noida</td>
          <td>WareHouse1</td>
          <td>Location1</td>
          <td>Row1</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Delhi</td>
          <td>WareHouse2</td>
          <td>Location2</td>
          <td>Row2</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Ghaziabad</td>
          <td>WareHouse3</td>
          <td>Location3</td>
          <td>Row3</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Kanpur</td>
          <td>WareHouse4</td>
          <td>Location4</td>
          <td>Row4</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Jaipur</td>
          <td>WareHouse5</td>
          <td>Location5</td>
          <td>Row5</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Agra</td>
          <td>WareHouse6</td>
          <td>Location6</td>
          <td>Row6</td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
